<div class="modal fade" id="modalDeleteProfiles" tabindex="-1" role="dialog" data-mdb-backdrop="static" aria-labelledby="modalHeader" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalHeader" class="modal-title"></h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalBody"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button id="btnSuccess" type="button" class="btn btn-danger" onclick="deleteProfiles()">
                    <i class='fa-solid fa-trash'></i>
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>