<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @if (string.IsNullOrEmpty(Context.Request.Cookies["dark"]))
    {
        <link rel="stylesheet" href="~/lib/MDB5-STANDARD-UI-KIT-Free-6.0.1/css/mdb.min.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/lib/MDB5-STANDARD-UI-KIT-Free-6.0.1/css/mdb.dark.min.css" />
    }
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="sticky-top">
        <nav id="navMenu" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 @(string.IsNullOrEmpty(Context.Request.Cookies["dark"]) ? "bg-light" : "bg-dark")">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UI</a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars text-secondary"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(Role.Admin.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link" is-active-route asp-controller="Admin" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" is-active-route asp-controller="Admin" asp-action="Admins">Admins</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" is-active-route asp-controller="Site" asp-action="Index">Sites</a>
                            </li>
                        }
                        else if (User.IsInRole(Role.AdminAgency.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link" is-active-route asp-controller="AdminAgency" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" is-active-route asp-controller="AdminAgency" asp-action="Users">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" is-active-route asp-controller="Cabinet" asp-action="Index">Cabinets</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/MDB5-STANDARD-UI-KIT-Free-6.0.1/js/mdb.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
