<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/MDB5-STANDARD-UI-KIT-Free-6.0.1/css/mdb.dark.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <title>@ViewData["Title"]</title>
</head>
<body class="bg-port_gore">
    <header class="sticky-top">
        <nav id="navMenu" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow bg-haiti">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DC</a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars text-secondary"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(Role.Admin.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link rounded-2" is-active-route asp-controller="Admin" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item ps-1">
                                <a class="nav-link rounded-2" is-active-route asp-controller="Admin" asp-action="Admins">Admins</a>
                            </li>
                            <li class="nav-item ps-1">
                                <a class="nav-link rounded-2" is-active-route asp-controller="Site" asp-action="Index">Sites</a>
                            </li>
                        }
                        else if (User.IsInRole(Role.AdminAgency.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link rounded-2" is-active-route asp-controller="AdminAgency" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item ps-1">
                                <a class="nav-link rounded-2" is-active-route asp-controller="AdminAgency" asp-action="Users">Users</a>
                            </li>
                            <li class="nav-item ps-1">
                                <a class="nav-link rounded-2" is-active-route asp-controller="Cabinet" asp-action="Index">Cabinets</a>
                            </li>
                            <li class="nav-item ps-1">
                                <a class="nav-link rounded-2" is-active-route asp-controller="AdminAgency" asp-action="Statistics">Statistics</a>
                            </li>
                            @*                            <li class="nav-item ps-1">
                        <a class="nav-link rounded-2" is-active-route asp-controller="Chats" asp-action="Index">Чаты</a>
                        </li>
                        <li class="nav-item ps-1">
                        <a class="nav-link rounded-2" is-active-route asp-controller="Ice" asp-action="Index">Айсы</a>
                        </li>
                        <li class="nav-item ps-1">
                        <a class="nav-link rounded-2" is-active-route asp-controller="Autoresponders" asp-action="Index">Автоответы</a>
                        </li> *@
                        }
                        else if (User.IsInRole(Role.Operator.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link rounded-2" is-active-route asp-controller="Operator" asp-action="Index">Анкеты</a>
                            </li>
                            <li class="nav-item ps-1">
                                <a class="nav-link rounded-2" is-active-route asp-controller="Chats" asp-action="Index">Чаты</a>
                            </li>
                            <li class="nav-item ps-1">
                                <a class="nav-link rounded-2" is-active-route asp-controller="Ice" asp-action="Index">Айсы</a>
                            </li>
                            <li class="nav-item ps-1">
                                <a class="nav-link rounded-2" is-active-route asp-controller="Autoresponders" asp-action="Index">Автоответы</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" asp-fallback-src="/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery" asp-append-version="true"></script>
    <script src="~/lib/MDB5-STANDARD-UI-KIT-Free-6.0.1/js/mdb.min.js" asp-append-version="true"></script>    
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>