@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav align-items-center me-5">
        <li class="bell-block position-relative">
            <img src="~/image/layout/Alarm Bell.svg" alt="Bell">
            <span class="bell-status d-inline-block rounded-circle position-absolute"></span>
        </li>
        <li class="nav-item dropdown px-1">
            <a class="nav-link" href="#" id="navbarAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/image/layout/Layout Grid.svg" alt="Grid">
            </a>
            <ul class="dropdown-menu dropdown-menu-dark m-0 p-0" aria-labelledby="navbarAccount" style="position: absolute; inset: 0px 0px auto auto; transform: translate(-4px, 43px);">
                @*                <li>
            <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change password</a>
            </li>*@
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                    @*                    <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-sm btn-primary" title="Logout">Logout</button>
                </form>*@
                </li>
            </ul>
        </li>
        <li class="d-flex">
            <div class="d-flex align-items-center">
                <img src="/image/layout/Rectangle 5.png" alt="Person image" class="img-fluid w-75 rounded-circle">
            </div>
        </li>
    </ul>
}
