<div class="large-block__body-item mt-2">
    <div class="large-block__body-item-top d-flex align-items-end">
        <div class="large-block__body-item-image me-2">
            <div class="standart-image-block position-relative">
                <img src="~/image/layout/place-holder-b-person.jpg" alt="No person image" class="small-image rounded">
                <span class="large-block-header-status-red rounded-circle d-inline-block position-absolute bottom-0 end-0"></span>
            </div>
        </div>
        <div class="large-block__body-item-message d-flex align-items-center justify-content-start p-2 rounded-top rounded-end">
            <p class="text-white large-block__body-item-text">
                Hot Atletic Body you have!
            </p>
        </div>
    </div>

    <p class="large-block__body-item-small-text text-start">
        3 ч назад
    </p>
</div>
<div class="large-block__body-item mt-2">
    <div class="large-block__body-item-top d-flex align-items-end">
        <div class="large-block__body-item-image me-2">
            <div class="standart-image-block position-relative">
                <img src="~/image/layout/place-holder-b-person.jpg" alt="No person image" class="small-image rounded">
                <span class="large-block-header-status-red rounded-circle d-inline-block position-absolute bottom-0 end-0"></span>
            </div>
        </div>
        <div class="large-block__body-item-message d-flex align-items-center justify-content-start p-2 rounded-top rounded-end">
            <p class="text-white large-block__body-item-text fst-italic">
                Майку нравиться Ваше
                <a href="http://test1.ismail.website/#" class="fst-italic">фото</a>
            </p>
        </div>
    </div>

    <p class="large-block__body-item-small-text text-start">
        3 ч назад
    </p>
</div>
<div class="large-block__body-item mt-2">
    <div class="large-block__body-item-top d-flex align-items-end">
        <div class="large-block__body-item-image me-2">
            <div class="standart-image-block position-relative">
                <img src="~/image/layout/place-holder-b-person.jpg" alt="No person image" class="small-image rounded">
                <span class="large-block-header-status-red rounded-circle d-inline-block position-absolute bottom-0 end-0"></span>
            </div>
        </div>
        <div class="large-block__body-item-message d-flex align-items-center justify-content-start p-2 rounded-top rounded-end">
            <p class="text-white large-block__body-item-text">
                Sister is a young teen
            </p>
        </div>
    </div>

    <p class="large-block__body-item-small-text text-start">
        3 ч назад
    </p>
</div>

<div class="large-block__body-item mt-2">
    <div class="large-block__body-item-top d-flex align-items-end flex-row-reverse">
        <div class="large-block__body-item-image ms-2 position-relative">
            <div class="standart-image-block position-relative">
                <img src="~/image/layout/place-holder-b-person.jpg" alt="No person image" class="small-image rounded">
                <span class="large-block-header-status-green d-inline-block position-absolute rounded-circle bottom-0 end-0"></span>
            </div>
        </div>
        <div class="large-block__body-item-message-answer d-flex align-items-center justify-content-start p-2 rounded-top rounded-start">
            <p class="text-white large-block__body-item-text">
                Sister is a young teen
            </p>
        </div>
    </div>

    <p class="large-block__body-item-small-text text-end">
        3 ч назад
    </p>
</div>

<div class="large-block__body-item mt-2">
    <div class="large-block__body-item-top d-flex align-items-end">
        <div class="large-block__body-item-image me-2">
            <div class="standart-image-block position-relative">
                <img src="~/image/layout/place-holder-b-person.jpg" alt="No person image" class="small-image rounded">
                <span class="large-block-header-status-red rounded-circle d-inline-block position-absolute bottom-0 end-0"></span>
            </div>
        </div>
        <div class="large-block__body-item-message d-flex align-items-center justify-content-start p-2 rounded-top rounded-end">
            <p class="text-white large-block__body-item-text">
                Sister is a young teen
            </p>
        </div>
    </div>

    <p class="large-block__body-item-small-text text-start">
        3 ч назад
    </p>
</div>

<div class="large-block__body-item mt-2">
    <div class="large-block__body-item-top d-flex align-items-end">
        <div class="large-block__body-item-image me-2">
            <div class="standart-image-block position-relative">
                <img src="~/image/layout/place-holder-b-person.jpg" alt="No person image" class="small-image rounded">
                <span class="large-block-header-status-red rounded-circle d-inline-block position-absolute bottom-0 end-0"></span>
            </div>
        </div>
        <div class="large-block__body-item-message d-flex align-items-center justify-content-start p-2 rounded-top rounded-end">
            <p class="text-white large-block__body-item-text">
                Are you still away?
            </p>
        </div>
    </div>

    <p class="large-block__body-item-small-text text-start">
        3 ч назад
    </p>
</div>

<div class="large-block__body-item mt-2">
    <div class="large-block__body-item-top d-flex align-items-end">
        <div class="large-block__body-item-image me-2">
            <div class="standart-image-block position-relative">
                <img src="~/image/layout/place-holder-b-person.jpg" alt="No person image" class="small-image rounded">
                <span class="large-block-header-status-red rounded-circle d-inline-block position-absolute bottom-0 end-0"></span>
            </div>
        </div>
        <div class="large-block__body-item-message d-flex align-items-center justify-content-start p-2 rounded-top rounded-end">
            <p class="text-white large-block__body-item-text">
                Are you still away?
            </p>
        </div>
    </div>

    <p class="large-block__body-item-small-text text-start">
        3 ч назад
    </p>
</div>

<div class="large-block__body-item mt-2">
    <div class="large-block__body-item-top d-flex align-items-end">
        <div class="large-block__body-item-image me-2">
            <div class="standart-image-block position-relative">
                <img src="~/image/layout/place-holder-b-person.jpg" alt="No person image" class="small-image rounded">
                <span class="large-block-header-status-red rounded-circle d-inline-block position-absolute bottom-0 end-0"></span>
            </div>
        </div>
        <div class="large-block__body-item-message d-flex align-items-center justify-content-start p-2 rounded-top rounded-end">
            <p class="text-white large-block__body-item-text">
                Sister is a young teen
            </p>
        </div>
    </div>

    <p class="large-block__body-item-small-text text-start">
        3 ч назад
    </p>
</div>

<div class="large-block__body-item mt-2">
    <div class="large-block__body-item-top d-flex align-items-end">
        <div class="large-block__body-item-image me-2">
            <div class="standart-image-block position-relative">
                <img src="~/image/layout/place-holder-b-person.jpg" alt="No person image" class="small-image rounded">
                <span class="large-block-header-status-red rounded-circle d-inline-block position-absolute bottom-0 end-0"></span>
            </div>
        </div>
        <div class="large-block__body-item-message d-flex align-items-center justify-content-start p-2 rounded-top rounded-end">
            <p class="text-white large-block__body-item-text">
                Are you still away?
            </p>
        </div>
    </div>

    <p class="large-block__body-item-small-text text-start">
        3 ч назад
    </p>
</div>

<div class="large-block__body-item mt-2">
    <div class="large-block__body-item-top d-flex align-items-end">
        <div class="large-block__body-item-image me-2">
            <div class="standart-image-block position-relative">
                <img src="~/image/layout/place-holder-b-person.jpg" alt="No person image" class="small-image rounded">
                <span class="large-block-header-status-red rounded-circle d-inline-block position-absolute bottom-0 end-0"></span>
            </div>
        </div>
        <div class="large-block__body-item-message d-flex align-items-center justify-content-start p-2 rounded-top rounded-end">
            <p class="text-white large-block__body-item-text">
                Are you still away?
            </p>
        </div>
    </div>

    <p class="large-block__body-item-small-text text-start">
        3 ч назад
    </p>
</div>