@model List<Gift>

<div class="row text-start px-2 pt-2" style="max-height: 487px; width: 352px; overflow-y:auto;">
    @foreach (var gift in Model)
    {
        <span class="col-auto mx-1 mb-2 sticker p-0">
            <a href="#!" onclick="sendGift(this, @gift.Id, '@gift.Name')"><img src="@gift.ImageSrc" style="width: 100px;"></a>
        </span>
    }
</div>