@model AgencyView

@{
    ViewData["Title"] = "Users";
}

<div class="container mt-5">

    <partial name="_AlertsPartial" />

    <partial name="_AddUserPartial" />

    <form id="formAgency" method="post" asp-controller="AdminAgency" asp-action="Users">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" name=returnUrl value="@ViewData["returnUrl"]" />

        <partial name="_Users" model="Model.Users" />

        <a class="btn btn-sm btn-danger" href="@ViewData["returnUrl"]">Cancel</a>

        <button type="submit" class="btn btn-sm btn-success">Save</button>
    </form>
</div>

<partial name="_Toast" />

@section Scripts{
    <partial name="_validationScriptsPartial" />
    <script src="~/js/users.js" asp-append-version="true"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
}