.pop-up {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(32, 32, 32, 0.61);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pop-up-content {
    background: #1E1E42;
    padding: 15px;
    border: 1px solid #454563;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-animation: animPopUp .3s linear;
    animation: animPopUp .3s linear;
    position: relative;
}

.pop-up__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

    .pop-up__close:hover svg path {
        stroke: #fff;
    }

.pop-up.trash .pop-up-content {
    width: 750px;
    padding-right: 0;
}

.pop-up.trash .trash-box {
    height: 500px;
    overflow-y: scroll;
    margin-right: 8px;
}

    .pop-up.trash .trash-box::-webkit-scrollbar {
        background-color: #1E1E42;
    }

.pop-up.trash .trash__title {
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin-bottom: 25px;
}

.pop-up.trash .trash-item {
    background: rgba(217, 217, 217, 0.1);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 8px 12px 23px 7px;
    cursor: default;
    margin-bottom: 8px;
    margin-right: 4px;
}

    .pop-up.trash .trash-item:hover {
        background: #454563;
    }

    .pop-up.trash .trash-item .avatar {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }

    .pop-up.trash .trash-item .avatar__img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }

    .pop-up.trash .trash-item .user__name {
        font-size: 16px;
        color: #fff;
        width: 110px;
        overflow-wrap: break-word;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

        .pop-up.trash .trash-item .user__name:hover {
            color: #55DEA9;
        }

    .pop-up.trash .trash-item .chat,
    .pop-up.trash .trash-item .reply {
        cursor: pointer;
    }

        .pop-up.trash .trash-item .chat:hover svg path,
        .pop-up.trash .trash-item .reply:hover svg path {
            stroke: #fff;
        }

.pop-up.trash .trash-item__text {
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    padding-left: 5px;
}

.pop-up.chatAndMail .pop-up-content {
    width: 70%;
}

.pop-up.chatAndMail .pop-up__close {
    top: -3px;
    right: 5px;
}

.pop-up.chatAndMail .chatAndMail-item {
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.04);
    width: 55%;
}

.pop-up.chatAndMail .chatAndMail-item__title {
    margin-left: 10px;
}

.pop-up.chatAndMail .chatAndMail-item-head {
    padding: 12px 24px;
}

.pop-up.chatAndMail .chatAndMail-item-footer {
    padding: 12px 24px;
    font-size: 12px;
}

.pop-up.chatAndMail .chatAndMail-item:first-child {
    width: 44%;
}

.pop-up.chatAndMail .chatAndMail-item .chatAndMail__write {
    width: 100%;
    height: 450px;
    background: transparent;
    border: none;
    resize: none;
    outline: none;
    padding: 25px 0;
    font-size: 16px;
    color: #fff;
    padding: 24px;
}

.pop-up.chatAndMail .sumbit {
    width: 216px;
    height: 36px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #7D6AF0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}

    .pop-up.chatAndMail .sumbit:hover {
        opacity: 0.9;
    }

.pop-up.create-post .pop-up-content {
    width: 1175px;
    max-height: 99vh;
    color: #fff;
    overflow-y: scroll;
}

    .pop-up.create-post .pop-up-content::-webkit-scrollbar {
        background: #1E1E42;
    }

.pop-up.create-post .create-post__title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.pop-up.create-post .create-post-text {
    height: 150px;
    position: relative;
    margin: 12px 0 24px;
}

    .pop-up.create-post .create-post-text textarea {
        width: 100%;
        height: 100%;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        background: rgba(11, 11, 57, 0.49);
        border: 1px solid rgba(11, 11, 57, 0.49);
        outline: none;
        resize: none;
        padding: 20px 50px 20px 20px;
        color: #fff;
        font-size: 16px;
        line-height: 22px;
    }

        .pop-up.create-post .create-post-text textarea:focus {
            border-color: #7D6AF0;
        }

    .pop-up.create-post .create-post-text .keypress_text {
        position: absolute;
        bottom: 9px;
        right: 20px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
    }

.pop-up.create-post .upload-file {
    width: 174px;
    height: 36px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #373757;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    position: relative;
    cursor: pointer;
}

    .pop-up.create-post .upload-file svg {
        margin-right: 5px;
    }

    .pop-up.create-post .upload-file input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }

    .pop-up.create-post .upload-file:hover {
        background: rgba(11, 11, 57, 0.49);
    }

.pop-up.create-post .uploaded-file {
    width: 78%;
    height: 210px;
    overflow-y: scroll;
}

    .pop-up.create-post .uploaded-file::-webkit-scrollbar {
        background: #1E1E42;
    }

    .pop-up.create-post .uploaded-file .file {
        width: 100px;
        height: 100px;
        margin: 0 10px 10px 0;
        position: relative;
    }

        .pop-up.create-post .uploaded-file .file img {
            width: 100%;
            height: 100%;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }

        .pop-up.create-post .uploaded-file .file .remove-file {
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            display: none;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            background: #1E1E42;
            color: #131334;
        }

.pop-up.create-post .submit,
.pop-up.create-post .preview {
    width: 174px;
    height: 36px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

    .pop-up.create-post .submit:hover,
    .pop-up.create-post .preview:hover {
        opacity: 0.9;
    }

.pop-up.create-post .submit {
    background: #7D6AF0;
    margin-right: 12px;
}

.pop-up.create-post .preview {
    background: #373757;
}

.pop-up.create-post .view-requirements {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

    .pop-up.create-post .view-requirements svg {
        margin-right: 8px;
    }

.pop-up.create-post .requirements {
    top: 100%;
    right: 0;
    background: #30304D;
    border: 1px solid #7D6AF0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
    width: 360px;
    font-size: 14px;
    line-height: 20px;
    list-style: decimal;
    display: none;
}

    .pop-up.create-post .requirements li {
        list-style: decimal;
        margin-left: 20px;
    }

.pop-up.create-post .requirements-box:hover .requirements {
    display: block;
}

.pop-up.create-post .history-posts {
    max-height: 305px;
    overflow-y: scroll;
    width: auto;
}

    .pop-up.create-post .history-posts::-webkit-scrollbar {
        background: #1E1E42;
    }

.pop-up.create-post .history__title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 12px 0;
}

.pop-up.create-post .history {
    width: 570px;
    margin-top: 12px;
}

    .pop-up.create-post .history:first-child {
        margin-top: 0;
    }

.pop-up.create-post .history-item {
    max-height: 310px;
    overflow-y: scroll;
    padding: 12px;
    padding-right: 8px;
    background: #15143E;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

    .pop-up.create-post .history-item::-webkit-scrollbar {
        background: #1E1E42;
    }

    .pop-up.create-post .history-item .history-head,
    .pop-up.create-post .history-item .history-main {
        width: 49%;
        height: 200px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }

        .pop-up.create-post .history-item .history-head img,
        .pop-up.create-post .history-item .history-head video,
        .pop-up.create-post .history-item .history-main img,
        .pop-up.create-post .history-item .history-main video {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center 35%;
            object-position: center 35%;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

    .pop-up.create-post .history-item .history-main-sup,
    .pop-up.create-post .history-item .history-main-box {
        height: 48.5%;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }

    .pop-up.create-post .history-item .history-main-box {
        position: relative;
    }

        .pop-up.create-post .history-item .history-main-box::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #0009;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .pop-up.create-post .history-item .history-main-box .upload_count {
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 20px;
            font-weight: 600;
        }

.pop-up.create-post .history-item__text {
    font-size: 16px;
    line-height: 22px;
    margin: 8px 0 12px;
    overflow-wrap: break-word;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    width: 90%;
}

.pop-up.create-post .history-item .unseen,
.pop-up.create-post .history-item .viewPost {
    width: 100px;
    height: 36px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #373757;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

    .pop-up.create-post .history-item .unseen:hover,
    .pop-up.create-post .history-item .viewPost:hover {
        opacity: 0.9;
    }

.pop-up.create-post .history-item .viewPost {
    width: 130px;
    background: #7D6AF0;
}

.pop-up.information .pop-up-content {
    width: 800px;
    color: #fff;
    padding-right: 0;
}

.pop-up.information .information-man {
    width: 50%;
}

.pop-up.information .information-photos {
    width: 49%;
}

.pop-up.information .information-man {
    border-right: 1px solid #454563;
    padding-right: 5px;
    position: relative;
}

    .pop-up.information .information-man .avatar {
        width: 79px;
        height: 79px;
        margin-right: 12px;
    }

        .pop-up.information .information-man .avatar img {
            width: 100%;
            height: 100%;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }

    .pop-up.information .information-man .user__name {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
    }

    .pop-up.information .information-man .data__year {
        font-size: 14px;
        line-height: 18px;
    }

    .pop-up.information .information-man .address {
        font-size: 14px;
        font-weight: 700;
    }

        .pop-up.information .information-man .address span {
            font-weight: 400;
            margin-left: 5px;
        }

    .pop-up.information .information-man .information__id {
        font-size: 14px;
        border: 2px solid #454563;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        padding: 4px 12px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 0;
        right: 15px;
    }

        .pop-up.information .information-man .information__id span {
            max-width: 110px;
            overflow-wrap: break-word;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }

    .pop-up.information .information-man .information-man-box {
        height: 400px;
        overflow-y: scroll;
    }

        .pop-up.information .information-man .information-man-box::-webkit-scrollbar {
            background: #1E1E42;
        }

    .pop-up.information .information-man .information-item {
        width: 75%;
        margin: 24px 0;
    }

    .pop-up.information .information-man .information-item__title {
        font-size: 20px;
        font-weight: 700;
    }

    .pop-up.information .information-man .information-item li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-size: 14px;
        margin-bottom: 4px;
    }

        .pop-up.information .information-man .information-item li span {
            width: 100%;
            font-weight: 400;
        }

            .pop-up.information .information-man .information-item li span:last-child {
                font-weight: 700;
            }

.pop-up.information .information-photos__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.pop-up.information .information-photos-box {
    max-height: 450px;
    overflow-y: scroll;
    margin-right: 5px;
}

    .pop-up.information .information-photos-box::-webkit-scrollbar {
        background: #1E1E42;
    }

.pop-up.information .photo-man {
    width: 104px;
    height: 104px;
    margin: 10px;
}

    .pop-up.information .photo-man img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

.pop-up.gallery .pop-up-content {
    width: 1920px;
    padding: 25px 60px;
    color: #fff;
    max-height: 99vh;
    overflow-y: scroll;
}

    .pop-up.gallery .pop-up-content .avatar {
        width: 38px;
        height: 38px;
        margin-right: 12px;
    }

        .pop-up.gallery .pop-up-content .avatar img {
            width: 100%;
            height: 100%;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }

    .pop-up.gallery .pop-up-content .user__name {
        font-size: 16px;
        line-height: 20px;
        width: 100px;
        overflow-wrap: break-word;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

        .pop-up.gallery .pop-up-content .user__name:hover {
            color: rgba(255, 255, 255, 0.8);
        }

    .pop-up.gallery .pop-up-content .gallery__title {
        font-size: 24px;
        font-weight: 700;
    }

    .pop-up.gallery .pop-up-content .gallery-filter {
        width: 100%;
        height: 44px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 22px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

        .pop-up.gallery .pop-up-content .gallery-filter .filter {
            position: relative;
            height: 44px;
            margin-right: 24px;
            cursor: pointer;
        }

        .pop-up.gallery .pop-up-content .gallery-filter .filter__inp {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: none;
        }

        .pop-up.gallery .pop-up-content .gallery-filter .filter svg {
            margin-right: 10px;
            position: relative;
            z-index: 2;
        }

            .pop-up.gallery .pop-up-content .gallery-filter .filter svg path {
                stroke: #fff;
                opacity: 0.5;
            }

        .pop-up.gallery .pop-up-content .gallery-filter .filter span {
            opacity: 0.5;
            color: #fff;
        }

        .pop-up.gallery .pop-up-content .gallery-filter .filter__lab {
            color: #fff;
            cursor: pointer;
            z-index: 2;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .pop-up.gallery .pop-up-content .gallery-filter .filter__inp:checked ~ svg path {
            opacity: 1;
        }

        .pop-up.gallery .pop-up-content .gallery-filter .filter__inp:checked ~ .filter__lab {
            opacity: 1;
        }

        .pop-up.gallery .pop-up-content .gallery-filter .filter__inp:checked ~ span {
            opacity: 1;
        }

        .pop-up.gallery .pop-up-content .gallery-filter .filter__inp:checked ~ .filter-border {
            width: 100%;
            height: 100%;
            border-bottom: 2px solid #7D6AF0;
            position: absolute;
            left: 0;
            top: 0;
        }

    .pop-up.gallery .pop-up-content .gallery-btns {
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

        .pop-up.gallery .pop-up-content .gallery-btns button {
            padding: 7.5px 12px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
        }

            .pop-up.gallery .pop-up-content .gallery-btns button:hover {
                opacity: 0.9;
            }

            .pop-up.gallery .pop-up-content .gallery-btns button:first-child {
                background: rgba(125, 106, 240, 0.3);
                margin-right: 12px;
            }

            .pop-up.gallery .pop-up-content .gallery-btns button:last-child {
                background: #7D6AF0;
            }

    .pop-up.gallery .pop-up-content .gallery-box {
        margin-top: 24px;
        height: 580px;
        overflow-y: scroll;
    }

        .pop-up.gallery .pop-up-content .gallery-box::-webkit-scrollbar {
            background: #1E1E42;
        }

    .pop-up.gallery .pop-up-content .gallery-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: safe;
        -webkit-justify-content: safe;
        -ms-flex-pack: safe;
        justify-content: safe;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .pop-up.gallery .pop-up-content .gallery-card {
        width: 10%;
        height: 185px;
        position: relative;
        overflow: hidden;
        margin-bottom: 12px;
        cursor: pointer;
    }

        .pop-up.gallery .pop-up-content .gallery-card img,
        .pop-up.gallery .pop-up-content .gallery-card video {
            width: 95%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }

        .pop-up.gallery .pop-up-content .gallery-card svg {
            position: absolute;
            z-index: 3;
            top: 4px;
            right: 15px;
            display: none;
        }

        .pop-up.gallery .pop-up-content .gallery-card::before {
            content: '';
            position: absolute;
            width: 95%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(10, 10, 44, 0.72);
            display: none;
            z-index: 2;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }

    .pop-up.gallery .pop-up-content .video::after {
        content: url(/image/layout/svg/play-big.svg);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .pop-up.gallery .pop-up-content .checkedCard::before,
    .pop-up.gallery .pop-up-content .checkedCard svg {
        display: block;
    }

.pop-up.preview .pop-up-content {
    width: 580px;
    color: #fff;
    padding-top: 30px;
}

    .pop-up.preview .pop-up-content .pop-up__close {
        top: 0;
        right: 5px;
    }

    .pop-up.preview .pop-up-content .preview-head {
        border-bottom: 2px solid #454563;
        padding-bottom: 10px;
        margin-bottom: 12px;
    }

    .pop-up.preview .pop-up-content .avatar {
        width: 38px;
        height: 38px;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .pop-up.preview .pop-up-content .avatar__img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }

    .pop-up.preview .pop-up-content .avatar .online {
        width: 7px;
        height: 7px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #55DEA9;
        -webkit-box-shadow: 0px 0px 0px 1px #2E2E4F;
        box-shadow: 0px 0px 0px 1px #2E2E4F;
        position: absolute;
        right: -2px;
        bottom: 0;
    }

    .pop-up.preview .pop-up-content .preview__title {
        font-size: 20px;
        font-weight: 600;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

        .pop-up.preview .pop-up-content .preview__title span {
            max-width: 200px;
            margin-left: 5px;
            overflow-wrap: break-word;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }

    .pop-up.preview .pop-up-content .date {
        font-size: 14px;
        opacity: 0.35;
    }

    .pop-up.preview .pop-up-content .unseen_btn {
        width: 120px;
        height: 32px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        background: rgba(125, 106, 240, 0.3);
        color: #fff;
    }

    .pop-up.preview .pop-up-content .preview-body {
        max-height: 80vh;
        overflow-y: scroll;
    }

        .pop-up.preview .pop-up-content .preview-body::-webkit-scrollbar {
            background: #1E1E42;
        }

        .pop-up.preview .pop-up-content .preview-body .preview-card {
            width: 50%;
            height: 180px;
            position: relative;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            overflow: hidden;
            margin-bottom: 8px;
        }

            .pop-up.preview .pop-up-content .preview-body .preview-card img,
            .pop-up.preview .pop-up-content .preview-body .preview-card video {
                width: 97%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center 30%;
                object-position: center 30%;
            }

            .pop-up.preview .pop-up-content .preview-body .preview-card svg {
                position: absolute;
                z-index: 3;
                top: 4px;
                right: 4px;
                display: none;
            }

            .pop-up.preview .pop-up-content .preview-body .preview-card::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(10, 10, 44, 0.72);
                display: none;
                z-index: 2;
            }

        .pop-up.preview .pop-up-content .preview-body .video::after {
            content: url(/image/layout/svg/play-big.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .pop-up.preview .pop-up-content .preview-body .preview__text {
            font-size: 16px;
            line-height: 20px;
            margin-top: 10px;
            opacity: 0.95;
            padding-right: 10px;
        }

@-webkit-keyframes animPopUp {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes animPopUp {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.total-left {
    width: 25%;
    background: #252548;
    border: 1px solid #454563;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 12px 0 12px 12px;
    margin-top: 15px;
}

    .total-left .zoom {
        width: 36px;
        height: 36px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #252548;
        border: 1px solid #454563;
    }

        .total-left .zoom:hover {
            border-color: #fff;
        }

            .total-left .zoom:hover svg path {
                stroke: #fff;
            }

    .total-left .found {
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        font-weight: 600;
        margin: 6px 0;
    }

    .total-left .found-box {
        max-height: 722px;
        overflow-y: scroll;
        margin-right: 4px;
    }

        .total-left .found-box .found-chat {
            color: #fff;
            padding: 12px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            background: rgba(217, 217, 217, 0.1);
            margin-bottom: 4px;
            cursor: default;
            margin-right: 5px;
        }

            .total-left .found-box .found-chat .avatar {
                width: 38px;
                height: 38px;
                position: relative;
                margin-right: 10px;
            }

            .total-left .found-box .found-chat .avatar__img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center;
                object-position: center;
                -webkit-border-radius: 8px;
                border-radius: 8px;
            }

            .total-left .found-box .found-chat .avatar .online {
                width: 7px;
                height: 7px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background: #55DEA9;
                -webkit-box-shadow: 0px 0px 0px 1px #2E2E4F;
                box-shadow: 0px 0px 0px 1px #2E2E4F;
                position: absolute;
                right: -2px;
                bottom: 0;
            }

            .total-left .found-box .found-chat .user__name {
                font-size: 16px;
                line-height: 20px;
                width: 110px;
                overflow-wrap: break-word;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }

                .total-left .found-box .found-chat .user__name:hover {
                    color: rgba(255, 255, 255, 0.8);
                }

            .total-left .found-box .found-chat .pd {
                font-size: 12px;
                width: 110px;
                overflow-wrap: break-word;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                line-height: 18px;
                opacity: 0.35;
                margin-top: 1px;
            }

            .total-left .found-box .found-chat .translator__title {
                font-size: 16px;
            }

            .total-left .found-box .found-chat .translator__info {
                font-size: 12px;
                opacity: 0.35;
            }

            .total-left .found-box .found-chat .translator__info,
            .total-left .found-box .found-chat .translator__title {
                width: 110px;
                overflow-wrap: break-word;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                text-align: center;
            }

        .total-left .found-box .found-chat__info {
            font-size: 14px;
            text-transform: uppercase;
        }

            .total-left .found-box .found-chat__info .blue {
                color: #7D6AF0;
            }

        .total-left .found-box .found-chat:hover {
            background: #454563;
        }

.total-right {
    width: 74%;
    color: #fff;
    background: #252548;
    border: 1px solid #454563;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 12px 0 12px 12px;
    margin-top: 15px;
}

    .total-right .total-balance {
        font-size: 24px;
        font-weight: 700;
    }

    .total-right .time,
    .total-right .break,
    .total-right .start-work {
        width: 70px;
        height: 36px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.16);
        font-size: 14px;
        font-weight: 600;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
    }

        .total-right .time:hover,
        .total-right .break:hover,
        .total-right .start-work:hover {
            opacity: 0.9;
        }

    .total-right .break {
        width: 92px;
        background: #D4681B;
        margin: 0 8px;
    }

    .total-right .start-work {
        width: 256px;
        background: #388B15;
        margin-right: 12px;
    }

    .total-right .auto-replies {
        margin-top: 28px;
        margin-right: 4px;
        max-height: 722px;
        overflow-y: scroll;
    }

    .total-right .auto-replies-item {
        background: #252548;
        border: 1px solid #454563;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        margin-right: 5px;
        padding-bottom: 30px;
        margin-bottom: 12px;
    }

    .total-right .auto-replies-item__title {
        font-size: 16px;
    }

    .total-right .auto-replies-item-head {
        padding: 15px;
    }

        .total-right .auto-replies-item-head .avatar {
            width: 25px;
            height: 25px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: #7D6AF0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            font-size: 14px;
            text-transform: uppercase;
            position: relative;
        }

            .total-right .auto-replies-item-head .avatar span {
                margin-top: 3px;
            }

        .total-right .auto-replies-item-head .avatar__img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

    .total-right table {
        width: 100%;
    }

        .total-right table tr th,
        .total-right table tr td {
            padding: 9px 0;
            width: auto;
            text-align: center;
            position: relative;
        }

            .total-right table tr th:nth-child(1),
            .total-right table tr td:nth-child(1) {
                padding: 0 15px;
                width: 35px;
            }

            .total-right table tr th:nth-child(2),
            .total-right table tr td:nth-child(2) {
                width: 5px;
            }

            .total-right table tr th:nth-child(3),
            .total-right table tr td:nth-child(3) {
                width: 65%;
                padding-left: 20px;
                text-align: left;
            }

            .total-right table tr th:last-child,
            .total-right table tr td:last-child {
                width: 50px;
            }

        .total-right table thead {
            font-size: 14px;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.8);
        }

        .total-right table tbody {
            font-size: 14px;
        }

            .total-right table tbody tr {
                background: #2C2C4E;
                cursor: default;
            }

                .total-right table tbody tr:nth-child(even) {
                    background: transparent;
                }

                .total-right table tbody tr td {
                    color: #fff;
                }

                    .total-right table tbody tr td:nth-child(2), .total-right table tbody tr td:nth-child(3) {
                        color: rgba(255, 255, 255, 0.5);
                    }

                    .total-right table tbody tr td .delate {
                        cursor: pointer;
                    }

                .total-right table tbody tr:hover {
                    background: #454563;
                }

            .total-right table tbody .circle td:nth-child(2), .total-right table tbody .circle td:nth-child(3) {
                color: #fff;
            }

            .total-right table tbody .write {
                background: transparent;
            }

    .total-right .write__btn {
        width: 83px;
        height: 36px;
        background: #7D6AF0;
        border: 1px solid #FFFFFF;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
    }

        .total-right .write__btn:hover {
            border-color: #7D6AF0;
        }

@media (max-width: 1600px) {
    .container {
        padding: 0 10px;
    }

    .wrapper p {
        font-size: 12px !important;
        line-height: 16px !important;
    }

    .wrapper-item {
        width: 33%;
    }

        .wrapper-item:first-child {
            width: 33%;
        }

    .total p, .total a {
        font-size: 12px !important;
        line-height: 16px !important;
    }

    .wrapper-list .user-box .user__name, .wrapper-list .next-user .user__name,
    .wrapper-list .user-box .user__info, .wrapper-list .next-user .user__info,
    .total-left .found-box .found-chat .user__name,
    .total-left .found-box .found-chat .pd,
    .total-left .found-box .found-chat .translator__info, .total-left .found-box .found-chat .translator__title {
        width: 80px;
    }

    .wrapper-list .user-box, .wrapper-list .next-user {
        margin-right: 4px;
    }

    .total-right table tr th:nth-child(3), .total-right table tr td:nth-child(3) {
        width: 60%;
    }

    .total p, .total td, .total tr, .total th {
        font-size: 12px !important;
    }

        .total tr th {
            font-size: 10px !important;
        }

    .total-right table tbody .write__btn {
        left: 70%;
    }
}

@media (max-width: 1200px) {
    .wrapper-item {
        width: 49%;
    }

        .wrapper-item:first-child {
            width: 49%;
        }
}

@media (max-width: 992px) {
    .wrapper-item {
        width: 100%;
    }

        .wrapper-item:first-child {
            width: 100%;
        }

    .pop-up.trash .pop-up-content {
        width: 95%;
        height: 80%;
    }

    .pop-up.trash .trash-box {
        max-height: 80% !important;
    }

    .pop-up.chatAndMail .pop-up-content {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .pop-up.chatAndMail .chatAndMail-item {
        position: relative;
        color: rgba(255, 255, 255, 0.5);
        width: 100%;
    }

    .pop-up.chatAndMail .chatAndMail-item__title {
        margin-left: 10px;
    }

    .pop-up.chatAndMail .chatAndMail-item-head {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 12px 24px;
    }

    .pop-up.chatAndMail .chatAndMail-item-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 12px 24px;
        font-size: 12px;
    }

    .pop-up.chatAndMail .chatAndMail-item:first-child {
        width: 100%;
    }

    .pop-up.chatAndMail .chatAndMail-item .chatAndMail__write {
        height: 200px;
        padding-bottom: 200px;
    }

    .pop-up.chatAndMail .sumbit {
        width: 216px;
        height: 36px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #7D6AF0;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        margin-top: 5px;
    }

        .pop-up.chatAndMail .sumbit:hover {
            opacity: 0.9;
        }
}
