<div id="comment" class="pop-up comment d-none">
    <div class="pop-up-content p-3 w-25">
        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="pop-up__close">
            <path d="M1 1L10 10" stroke="#9B9BAB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M10 1L1 10" stroke="#9B9BAB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <div class="d-flex flex-column bd-highlight">
            <div id="commentPopUpBody" class="d-flex flex-column bd-highlight"></div>
            <div class="d-flex">
                <textarea rows="3" maxlength="200" class="my-3" placeholder="Комментарий"></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn answer-button chat-button rounded text-white w-auto" onclick="addComment()">
                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.0696 13.7352L14.8483 6.95642L13.1525 5.26059L6.37376 12.0393L6.36918 13.7398L8.0696 13.7352Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12.144 6.80969L13.299 7.96469" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M18.5491 13.8H18.5391C19.0591 12.64 19.3591 11.35 19.3591 10C19.3591 4.89 15.2191 0.75 10.1091 0.75C4.99908 0.75 0.859085 4.89 0.859085 10C0.859085 15.11 4.99908 19.25 10.1091 19.25C11.6191 19.25 13.0491 18.88 14.3091 18.24L19.3091 18.98L18.5491 13.8Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="answer-button__text">Создать комментарий</span>
                </button>
            </div>
        </div>
    </div>
</div>