<div id="informationPerson" class="pop-up information d-none" data-id-user="">
    <div class="pop-up-content d-flex rounded-1 text-white p-3 bg-port_gore">
        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="pop-up__close">
            <path d="M1 1L10 10" stroke="#9B9BAB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M10 1L1 10" stroke="#9B9BAB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <div id="informationPersonBody" class="d-flex justify-content-between w-100">
        </div>
    </div>
</div>

@*<div class="modal fade" id="information" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="informationPersonBody" class="modal-body d-flex">
        </div>
        </div>
    </div>
</div>*@