<div id="manMessagesMails" class="large-block__header d-flex align-items-center justify-content-between p-2 m-2 rounded" data-sheet-id="">
    <div class="large-block__header_icons-block d-flex align-items-center justify-content-around rounded p-2 text-white">
        <div>
            <img src="~/image/layout/2 Speech Bubbles (Chat).svg" alt="Chat">
            <p id="messagesLeft" class="large-block-header-timer-text">0</p>
        </div>
        <img src="~/image/layout/Line 2.svg" alt="Line">
        <div>
            <img src="~/image/layout/Mail.svg" alt="Mail">
            <p id="mailsLeft" class="large-block-header-timer-text large-block-header-timer-text-opacity">0</p>
        </div>
    </div>
    <div class="large-block__header_users-block p-2 d-flex justify-content-between align-items-center">
        <div class="large-block__header_users-block-item me-2 rounded d-flex justify-content-between align-items-center p-1 me-4">
            <div class="">
                <img id="interlocutorAvatarChatHeader" class="small-image large-block__header_users-block-img rounded cursor-pointer" src="~/image/layout/place-holder-b-person.jpg" alt="No person">
            </div>
            <div class="text-start text-white user-block-name-text_block">
                <p id="interlocutorNameChatHeader" class="other-name-text"></p>
                <p id="interlocutorIdChatHeader" class="user-block-name-text half-opacity cursor-pointer" onclick="copyId(this)"></p>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <img class="large-block__header_users-icon-img cursor-pointer me-2" src="~/image/layout/Pencil.svg" alt="">
            </div>
        </div>
        <div class="large-block__header_users-block-item rounded d-flex justify-content-between align-items-center p-1">
            <div class="rounded position-relative">
                <img id="ownerAvatarChatHeader" class="small-image large-block__header_users-block-img rounded cursor-pointer" src="~/image/layout/place-holder-b-person.jpg" alt="User">
                <span class="large-block-header-status d-inline-block position-absolute rounded-circle bottom-0 end-0"></span>
            </div>

            <div class="text-start text-white user-block-name-text_block">
                <p id="ownerNameChatHeader" class="other-name-text"></p>
                <p id="ownerIdChatHeader" class="user-block-name-text half-opacity cursor-pointer" onclick="copyId(this)"></p>
            </div>
            <div class=""></div>
        </div>
    </div>
    <div id="chatDropdown" class="large-block__header_menu-block cursor-pointer d-flex align-items-center p-4 h-100 dropstart disabled" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="~/image/layout/GroupPoints.svg" alt="GroupPoints">

        <div class="large-block__header_menu dropdown-menu p-2 rounded">
            <div class="large-block__header_menu-item cursor-pointer" onclick="changeBookmarkChat(this)">
                <svg width="15" height="21" class="col-2 me-1" id="bookmarkSVG">
                    <use xlink:href="#bookmark-svg"></use>
                </svg>
                <span class="d-inline-block text-white">Сохранить</span>
            </div>

            <div class="large-block__header_menu-item mt-2" onclick="changePremiumChat(this)">
                <svg width="19" height="16" class="col-2 me-1" id="premiumSVG">
                    <use xlink:href="#premium-svg"></use>
                </svg>
                <span class="d-inline-block text-white">Премиум</span>
            </div>

            <div class="large-block__header_menu-item mt-2" onclick="changeBlockChat(this)">
                <svg width="19" height="21" class="col-2 me-1" id="blockSVG">
                    <use xlink:href="#block-svg"></use>
                </svg>
                <span class="d-inline-block text-white">Заблокировать</span>
            </div>

            <div class="large-block__header_menu-item mt-2" onclick="changeTrashChat(this)">
                <svg width="21" height="22" class="col-2 me-1" id="trashSVG">
                    <use xlink:href="#trash-svg"></use>
                </svg>
                <span class="d-inline-block text-white">Удалить</span>
            </div>
        </div>
    </div>
</div>