<div class="wrapper-item d-flex flex-column overflow-y-auto rounded border p-2 bg-martinique">
    <div class="bottom-block-header mb-3">
        <ul class="d-flex justify-content-between text-white" role="tablist" id="allNewMessagesFromAllMens">
            <li class="col" role="presentation">
                <p class="nav-link active block__nav-link d-flex flex-column justify-content-center fw-bold text-center cursor-pointer" id="home-tab" data-bs-toggle="tab" data-bs-target="#all-left" role="tab" aria-controls="all-left" aria-selected="true">
                    <span class="first-block__header-text d-inline-block">Все</span>
                    <span id="countAllNewMessages" class="first-block__header-small-text d-inline-block">0</span>
                </p>
            </li>
            <li class="col mx-1" role="presentation">
                <p class="nav-link block__nav-link d-flex flex-column justify-content-center fw-bold text-center cursor-pointer" id="profile-tab" data-bs-toggle="tab" data-filters="Message;Sticker;Virtual_Gift;Photo;Photo_batch;Video;Post" data-bs-target="#chats-left" role="tab" aria-controls="chats-left" aria-selected="false" tabindex="-1">
                    <span class="first-block__header-text d-inline-block">Чаты</span>
                    <span id="countChatNewMessages" class="first-block__header-small-text d-inline-block small-text-red">0</span>
                </p>
            </li>
            <li class="col" role="presentation">
                <p class="nav-link block__nav-link d-flex flex-column justify-content-center fw-bold text-center cursor-pointer" id="messages-tab" data-bs-toggle="tab" data-filters="LikePhoto;Like_NewsFeed_Post;Wink" data-bs-target="#reactions-left" type="button" aria-controls="reactions-left" aria-selected="false" tabindex="-1" role="tab">
                    <span class="first-block__header-text d-inline-block">Реакции</span>
                    <span id="countReactionNewMessages" class="first-block__header-small-text d-inline-block small-text-purple">0</span>
                </p>
            </li>
            <li class="col mx-1" role="presentation">
                <p class="nav-link block__nav-link d-flex flex-column justify-content-center fw-bold text-center cursor-pointer" data-bs-toggle="tab" data-filters="System" data-bs-target="#systems-left" role="tab" aria-controls="systems-left" aria-selected="false" tabindex="-1">
                    <span class="first-block__header-text d-inline-block">Системные</span>
                    <span id="countSystemNewMessages" class="first-block__header-small-text d-inline-block">0</span>
                </p>
            </li>
            <li class="col" role="presentation">
                <p id="onlineNewMessages" class="nav-link block__nav-link d-flex flex-column justify-content-center fw-bold text-center cursor-pointer" data-filters="Online" data-bs-toggle="tab" data-bs-target="#online-left" role="tab" aria-controls="online-left" aria-selected="false" tabindex="-1">
                    <span class="first-block__header-text d-inline-block">Онлайн</span>
                    <span id="countOnlineNewMessages" class="first-block__header-small-text d-inline-block">0</span>
                </p>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-column align-items-center overflow-x-hidden overflow-y-auto" id="allNewMessages">
        @*<vc:all-new-messages-from-all-men sheets="Model"></vc:all-new-messages-from-all-men>*@
    </div>
</div>