<div class="wrapper-item d-flex flex-column overflow-hidden rounded border justify-content-between align-items-center h-100 p-2 bg-martinique">

    <partial name="_MessengerHeaderPartial" />

    <div class="large-block__body d-flex flex-column overflow-y-auto justify-content-end w-100">
        <div id="messages" class="overflow-y-auto my-3" data-load-all-messages="false" data-id-last-message="" onscroll="loadHistoryChat(this)">
            <vc:messages></vc:messages>
        </div>

        <partial name="_MessengerEditorPartial" />

    </div>
</div>