@model StackType

<div class="auto-replies-item mb-3 rounded bg-martinique">
    <div class="auto-replies-item-head d-flex">
        <a href="#" class="avatar">
            <span class="user__name">S</span>
        </a>
        <p class="auto-replies-item__title text-center w-100">Автоответы на системные сообщения</p>
    </div>
    <table data-stacktype="system">
        <thead>
            <tr>
                <th>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 9V13.66" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M10 7.08008C10.4142 7.08008 10.75 6.74429 10.75 6.33008C10.75 5.91586 10.4142 5.58008 10 5.58008C9.58579 5.58008 9.25 5.91586 9.25 6.33008C9.25 6.74429 9.58579 7.08008 10 7.08008Z" fill="#9292A3"></path>
                        <path d="M10 19.25C15.1086 19.25 19.25 15.1086 19.25 10C19.25 4.89137 15.1086 0.75 10 0.75C4.89137 0.75 0.75 4.89137 0.75 10C0.75 15.1086 4.89137 19.25 10 19.25Z" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </th>
                <th>#</th>
                <th></th>
                <th>Лимит от</th>
                <th>Задержка от/до</th>
                <th>Конверсия</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td name="counter">1</td>
                <td name="message">@Model?.System?.FirstMessage</td>
                <td name="limitMessage">@Model?.System?.FirstLimitCount</td>
                <td><span name="intervalStart">60</span>/<span name="intervalFinish">300</span></td>
                <td name="conversion">1/25</td>
                <td>
                    <a href="#!" class="autoanswer-edit" onclick="showEditPopUp(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                            <path fill="#7D6AF0" d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
                        </svg>
                    </a>
                    <a href="#!" class="autoanswer-delete mx-2" onclick="deleteAutoresponder(this)">
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1699 6.91992V16.1699C15.1699 17.8699 13.7898 19.2499 12.0898 19.2499H5.91985C4.21985 19.2499 2.83984 17.8699 2.83984 16.1699V6.91992" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M0.78125 3.83002H17.2213" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M5.92188 3.83002C5.92188 2.13002 7.30188 0.75 9.00188 0.75C10.7019 0.75 12.0819 2.13002 12.0819 3.83002" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M6.94125 10L11.0612 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.0612 10L6.94125 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </td>
            </tr>

            <tr>
                <td></td>
                <td name="counter">2</td>
                <td name="message">@Model?.System?.SecondMessage</td>
                <td name="limitMessage">@Model?.System?.SecondLimitCount</td>
                <td><span name="intervalStart">@Model?.System?.FirstInterval</span>/<span name="intervalFinish">@Model?.System?.FirstIntervalFinish</span></td>
                <td name="conversion">1/25</td>
                <td>
                    <a href="#!" class="autoanswer-edit" onclick="showEditPopUp(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                            <path fill="#7D6AF0" d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
                        </svg>
                    </a>
                    <a href="#!" class="autoanswer-delete mx-2" onclick="deleteAutoresponder(this)">
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1699 6.91992V16.1699C15.1699 17.8699 13.7898 19.2499 12.0898 19.2499H5.91985C4.21985 19.2499 2.83984 17.8699 2.83984 16.1699V6.91992" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M0.78125 3.83002H17.2213" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M5.92188 3.83002C5.92188 2.13002 7.30188 0.75 9.00188 0.75C10.7019 0.75 12.0819 2.13002 12.0819 3.83002" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M6.94125 10L11.0612 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.0612 10L6.94125 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </td>
            </tr>

            <tr>
                <td></td>
                <td name="counter">3</td>
                <td name="message">@Model?.System?.LastMessage</td>
                <td name="limitMessage">@Model?.System?.LastLimitCount</td>
                <td><span name="intervalStart">@Model?.System?.SecondInterval</span>/<span name="intervalFinish">@Model?.System?.SecondIntervalFinish</span></td>
                <td name="conversion">1/25</td>
                <td>
                    <a href="#!" class="autoanswer-edit" onclick="showEditPopUp(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                            <path fill="#7D6AF0" d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
                        </svg>
                    </a>
                    <a href="#!" class="autoanswer-delete mx-2" onclick="deleteAutoresponder(this)">
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1699 6.91992V16.1699C15.1699 17.8699 13.7898 19.2499 12.0898 19.2499H5.91985C4.21985 19.2499 2.83984 17.8699 2.83984 16.1699V6.91992" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M0.78125 3.83002H17.2213" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M5.92188 3.83002C5.92188 2.13002 7.30188 0.75 9.00188 0.75C10.7019 0.75 12.0819 2.13002 12.0819 3.83002" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M6.94125 10L11.0612 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.0612 10L6.94125 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="auto-replies-item mb-3 rounded bg-martinique">
    <div class="auto-replies-item-head d-flex">
        <a href="#" class="avatar">
            <span class="user__name">w</span>
        </a>
        <p class="auto-replies-item__title text-center w-100">Автоответы на Wink</p>
    </div>
    <table data-stacktype="wink">
        <thead>
            <tr>
                <th>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 9V13.66" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M10 7.08008C10.4142 7.08008 10.75 6.74429 10.75 6.33008C10.75 5.91586 10.4142 5.58008 10 5.58008C9.58579 5.58008 9.25 5.91586 9.25 6.33008C9.25 6.74429 9.58579 7.08008 10 7.08008Z" fill="#9292A3"></path>
                        <path d="M10 19.25C15.1086 19.25 19.25 15.1086 19.25 10C19.25 4.89137 15.1086 0.75 10 0.75C4.89137 0.75 0.75 4.89137 0.75 10C0.75 15.1086 4.89137 19.25 10 19.25Z" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </th>
                <th>#</th>
                <th></th>
                <th>Лимит от</th>
                <th>Задержка от/до</th>
                <th>Конверсия</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td name="counter">1</td>
                <td name="message">@Model?.Wink?.FirstMessage</td>
                <td name="limitMessage">@Model?.Wink?.FirstLimitCount</td>
                <td><span name="intervalStart">60</span>/<span name="intervalFinish">300</span></td>
                <td name="conversion">1/25</td>
                <td>
                    <a href="#!" class="autoanswer-edit" onclick="showEditPopUp(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                            <path fill="#7D6AF0" d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
                        </svg>
                    </a>
                    <a href="#!" class="autoanswer-delete mx-2" onclick="deleteAutoresponder(this)">
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1699 6.91992V16.1699C15.1699 17.8699 13.7898 19.2499 12.0898 19.2499H5.91985C4.21985 19.2499 2.83984 17.8699 2.83984 16.1699V6.91992" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M0.78125 3.83002H17.2213" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M5.92188 3.83002C5.92188 2.13002 7.30188 0.75 9.00188 0.75C10.7019 0.75 12.0819 2.13002 12.0819 3.83002" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M6.94125 10L11.0612 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.0612 10L6.94125 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </td>
            </tr>

            <tr>
                <td></td>
                <td name="counter">2</td>
                <td name="message">@Model?.Wink?.SecondMessage</td>
                <td name="limitMessage">@Model?.Wink?.SecondLimitCount</td>
                <td><span name="intervalStart">@Model?.Wink?.FirstInterval</span>/<span name="intervalFinish">@Model?.Wink?.FirstIntervalFinish</span></td>
                <td name="conversion">1/25</td>
                <td>
                    <a href="#!" class="autoanswer-edit" onclick="showEditPopUp(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                            <path fill="#7D6AF0" d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
                        </svg>
                    </a>
                    <a href="#!" class="autoanswer-delete mx-2" onclick="deleteAutoresponder(this)">
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1699 6.91992V16.1699C15.1699 17.8699 13.7898 19.2499 12.0898 19.2499H5.91985C4.21985 19.2499 2.83984 17.8699 2.83984 16.1699V6.91992" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M0.78125 3.83002H17.2213" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M5.92188 3.83002C5.92188 2.13002 7.30188 0.75 9.00188 0.75C10.7019 0.75 12.0819 2.13002 12.0819 3.83002" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M6.94125 10L11.0612 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.0612 10L6.94125 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </td>
            </tr>

            <tr>
                <td></td>
                <td name="counter">3</td>
                <td name="message">@Model?.Wink?.LastMessage</td>
                <td name="limitMessage">@Model?.Wink?.LastLimitCount</td>
                <td><span name="intervalStart">@Model?.Wink?.SecondInterval</span>/<span name="intervalFinish">@Model?.Wink?.SecondIntervalFinish</span></td>
                <td name="conversion">1/25</td>
                <td>
                    <a href="#!" class="autoanswer-edit" onclick="showEditPopUp(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                            <path fill="#7D6AF0" d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
                        </svg>
                    </a>
                    <a href="#!" class="autoanswer-delete mx-2" onclick="deleteAutoresponder(this)">
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1699 6.91992V16.1699C15.1699 17.8699 13.7898 19.2499 12.0898 19.2499H5.91985C4.21985 19.2499 2.83984 17.8699 2.83984 16.1699V6.91992" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M0.78125 3.83002H17.2213" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M5.92188 3.83002C5.92188 2.13002 7.30188 0.75 9.00188 0.75C10.7019 0.75 12.0819 2.13002 12.0819 3.83002" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M6.94125 10L11.0612 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.0612 10L6.94125 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="auto-replies-item mb-3 rounded bg-martinique">
    <div class="auto-replies-item-head d-flex">
        <a href="#" class="avatar">
            <span class="user__name">l</span>
        </a>
        <p class="auto-replies-item__title text-center w-100">Автоответы на Like</p>
    </div>
    <table data-stacktype="likephoto">
        <thead>
            <tr>
                <th>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 9V13.66" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M10 7.08008C10.4142 7.08008 10.75 6.74429 10.75 6.33008C10.75 5.91586 10.4142 5.58008 10 5.58008C9.58579 5.58008 9.25 5.91586 9.25 6.33008C9.25 6.74429 9.58579 7.08008 10 7.08008Z" fill="#9292A3"></path>
                        <path d="M10 19.25C15.1086 19.25 19.25 15.1086 19.25 10C19.25 4.89137 15.1086 0.75 10 0.75C4.89137 0.75 0.75 4.89137 0.75 10C0.75 15.1086 4.89137 19.25 10 19.25Z" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </th>
                <th>#</th>
                <th></th>
                <th>Лимит от</th>
                <th>Задержка от/до</th>
                <th>Конверсия</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td name="counter">1</td>
                <td name="message">@Model?.LikePhoto?.FirstMessage</td>
                <td name="limitMessage">@Model?.LikePhoto?.FirstLimitCount</td>
                <td><span name="intervalStart">60</span>/<span name="intervalFinish">300</span></td>
                <td name="conversion">1/25</td>
                <td>
                    <a href="#!" class="autoanswer-edit" onclick="showEditPopUp(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                            <path fill="#7D6AF0" d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
                        </svg>
                    </a>
                    <a href="#!" class="autoanswer-delete mx-2" onclick="deleteAutoresponder(this)">
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1699 6.91992V16.1699C15.1699 17.8699 13.7898 19.2499 12.0898 19.2499H5.91985C4.21985 19.2499 2.83984 17.8699 2.83984 16.1699V6.91992" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M0.78125 3.83002H17.2213" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M5.92188 3.83002C5.92188 2.13002 7.30188 0.75 9.00188 0.75C10.7019 0.75 12.0819 2.13002 12.0819 3.83002" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M6.94125 10L11.0612 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.0612 10L6.94125 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </td>
            </tr>

            <tr>
                <td></td>
                <td name="counter">2</td>
                <td name="message">@Model?.LikePhoto?.SecondMessage</td>
                <td name="limitMessage">@Model?.LikePhoto?.SecondLimitCount</td>
                <td><span name="intervalStart">@Model?.LikePhoto?.FirstInterval</span>/<span name="intervalFinish">@Model?.LikePhoto?.FirstIntervalFinish</span></td>
                <td name="conversion">1/25</td>
                <td>
                    <a href="#!" class="autoanswer-edit" onclick="showEditPopUp(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                            <path fill="#7D6AF0" d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
                        </svg>
                    </a>
                    <a href="#!" class="autoanswer-delete mx-2" onclick="deleteAutoresponder(this)">
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1699 6.91992V16.1699C15.1699 17.8699 13.7898 19.2499 12.0898 19.2499H5.91985C4.21985 19.2499 2.83984 17.8699 2.83984 16.1699V6.91992" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M0.78125 3.83002H17.2213" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M5.92188 3.83002C5.92188 2.13002 7.30188 0.75 9.00188 0.75C10.7019 0.75 12.0819 2.13002 12.0819 3.83002" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M6.94125 10L11.0612 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.0612 10L6.94125 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </td>
            </tr>

            <tr>
                <td></td>
                <td name="counter">3</td>
                <td name="message">@Model?.LikePhoto?.LastMessage</td>
                <td name="limitMessage">@Model?.LikePhoto?.LastLimitCount</td>
                <td><span name="intervalStart">@Model?.LikePhoto?.SecondInterval</span>/<span name="intervalFinish">@Model?.LikePhoto?.SecondIntervalFinish</span></td>
                <td name="conversion">1/25</td>
                <td>
                    <a href="#!" class="autoanswer-edit" onclick="showEditPopUp(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                            <path fill="#7D6AF0" d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
                        </svg>
                    </a>
                    <a href="#!" class="autoanswer-delete mx-2" onclick="deleteAutoresponder(this)">
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1699 6.91992V16.1699C15.1699 17.8699 13.7898 19.2499 12.0898 19.2499H5.91985C4.21985 19.2499 2.83984 17.8699 2.83984 16.1699V6.91992" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M0.78125 3.83002H17.2213" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M5.92188 3.83002C5.92188 2.13002 7.30188 0.75 9.00188 0.75C10.7019 0.75 12.0819 2.13002 12.0819 3.83002" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M6.94125 10L11.0612 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.0612 10L6.94125 14.11" stroke="#EB5858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>