@model LoginRegisterModel

<div class="d-flex align-items-center justify-content-center text-white">
    <div class="w-25 p-5 bg-martinique rounded-4">
        <form method="post" asp-action="LogIn">
            <input type="hidden" name="ReturnUrl" value="@Context.Request.Query["ReturnUrl"]" />
            <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="d-grid gap-4">
                <div>
                    <input type="text" class="form-control text-white" asp-for="LoginModel.Login" placeholder="login" />
                    <span asp-validation-for="LoginModel.Login"></span>
                </div>
                <div>
                    <input type="password" class="form-control text-white" asp-for="LoginModel.Password" autocomplete="new-password" placeholder="password" />
                    <span asp-validation-for="LoginModel.Password"></span>
                </div>
                <button type="submit" class="btn btn-sm btn-outline-success mt-3">SIGN IN</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}