@model string

<div class="d-flex align-items-center justify-content-center">
    <div class="col-md-4 col-xl-3 mt-5">

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">@TempData["Message"]</div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }


        <form method="post" asp-action="PasswordRecovery">
            <div asp-validation-summary="All" class="alert alert-danger"></div>
            <div class="form-outline mb-3">
                <input type="text" class="form-control" name="email" />
                <label class="form-label" for="email">Email</label>
            </div>
            <a class="btn btn-sm btn-secondary" asp-controller="Account" asp-action="Login">Cancel</a>
            <button type="submit" class="btn btn-sm btn-success">Ok</button>
        </form>
    </div>
</div>

@*@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}*@
