@model string

<div class="d-flex align-items-center justify-content-center">
    <div class="col-md-4 col-xl-3 mt-5">

        <partial name="_AlertsPartial" />

        <form method="post" asp-action="PasswordRecovery">
            <div class="form-outline mb-3">
                <input type="email" id="email" name="email" class="form-control" value="@Model" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." />
                <label class="form-label" for="email">Email</label>
                <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
            </div>
            <a class="btn btn-sm btn-secondary" asp-controller="Account" asp-action="Login">Cancel</a>
            <button type="submit" class="btn btn-sm btn-success">Ok</button>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
